name: CI & CD
  on:
    push:
      branches:
        - main
  jobs:
    test:
      name: Unit Tests
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-node@v2
          with:
            node-version: '12'
        - name: Install packages
          run: npm install
        - name: Run Tests
          run: npm run test
    deploy:
      name: Deploying to Github Pages
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-node@v2
          with:
            node-version: '12'
        - name: Install packages
          run: npm install
        - name: Set Creds
          run: git config user.name "EduardoGiacomini" && git config user.email "carloseduardo.diasgiacomini@gmail.com"
        - name: Deploy
          run: npm run deploy
